doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript' src='//code.createjs.com/createjs-2013.12.12.min.js')

        script(type='text/javascript' src='/javascripts/Hangar.js')
        script(type='text/javascript' src='/javascripts/Button.js')
        script(type='text/javascript' src='/javascripts/Campaign.js')
        script(type='text/javascript' src='/javascripts/Wave.js')
        script(type='text/javascript' src='/javascripts/Jarvis.js')
    body
        canvas#hangar(width=640,height=640)
        script(type='text/javascript').
            var hangar = new Hangar('hangar');
