doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='//code.jquery.com/jquery-1.11.1.min.js')
		script(type='text/javascript' src='//code.createjs.com/createjs-2013.12.12.min.js')
		script(type='text/javascript' src='/javascripts/UI/BalanceController.js')
		script(type='text/javascript' src='/javascripts/User.js')
		script(type='text/javascript' src='/javascripts/Store.js')
		script(type='text/javascript' src='/javascripts/Home.js')
	body
		canvas#home(width=640,height=640)
		script.
			var home = new Home(!{JSON.stringify(data)});
