doctype html
html
  head
    title= title

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='//code.jquery.com/jquery-1.11.1.min.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(type='text/javascript' src='//code.createjs.com/createjs-2013.12.12.min.js')

    script(type='text/javascript' src='/javascripts/Bullet.js')
    script(type='text/javascript' src='/javascripts/Firearm.js')
    script(type='text/javascript' src='/javascripts/Ship.js')
    script(type='text/javascript' src='/javascripts/Enermy.js')
    script(type='text/javascript' src='/javascripts/Game.js')
    script(type='text/javascript' src='/javascripts/Wave.js')
    script(type='text/javascript' src='/javascripts/Effect.js')

  body
    block content
