html, body{
  margin: 0px;
  padding: 0px;
  height:100%;
  background-color:#fff;
}

a {
  color: #00B7FF;
}

.container{
  max-width: 980px;
}

canvas#home, canvas#menu, canvas#game{
  border: 1px solid #ccc;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: crosshair;
}